{% extends "user_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'user_app/components/header.html' %}
<main>

    <!-- page title area start -->
    <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
        data-background="{% static 'user_app/assets/img/page-title/page-title.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page__title-wrapper mt-110">
                        <h3 class="page__title">About</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->

    <!-- why area start -->
    <section class="why__area pt-125 pb-125">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-5 offset-xxl-1 col-xl-5 offset-xl-1 col-lg-6 col-md-8">
                    <div class="why__content pr-50 mt-40">
                        <div class="section__title-wrapper mb-30">
                            <span class="section__sub-title">Why Choses Me</span>
                            <h2 class="section__title">We Focus on <span class="yellow-bg yellow-bg-big">Client <img
                                        src="{% static 'user_app/assets/img/shape/yellow-bg.png' %}" alt=""></span>
                                Satisfaction</h2>
                            <p>For over a decade, the world has dramatically changed its course using IT
                                technologies. HEDONE Services understand the necessity and have started giving
                                our contribution in this new generation business era to offer our clients,
                                solutions for their every Business and Social Network. Presently catering to
                                clients from India, Canada and Middle Easte
                                HEDONE is synonymous with a heady mix of enthusiastic, young and experienced
                                engineering professionals and systems development tech wizards, adept at brewing
                                innovative and dynamic e-solutions. Our value-added business services and solutions add
                                a spring to your portfolio of services to enhance user satisfaction.
                                Automation is our goal. We factor technology to take the service to a new high.
                                Individually we have experience in variegated fields like designing and developing
                                apt apps (both web and mobile) for start-ups, CRM, Attendance and payroll
                                management, apart from providing seamless e-service platforms suitable across
                                different segments of business and government.
                            </p>
                        </div>
                        <div class="why__btn">
                            <a href="{% url 'contact' %}" class="e-btn e-btn-3 mr-30">Join for Free</a>
                            <a href="{% url 'about' %}" class="link-btn">
                                Learn More
                                <i class="far fa-arrow-right"></i>
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-8">
                    <div class="why__thumb">
                        <img src="{% static 'user_app/assets/img/why/why.png' %}" alt="">
                        <img class="why-green" src="{% static 'user_app/assets/img/why/why-shape-green.png' %}" alt="">
                        <img class="why-pink" src="{% static 'user_app/assets/img/why/why-shape-pink.png' %}" alt="">
                        <img class="why-dot" src="{% static 'user_app/assets/img/why/why-shape-dot.png' %}" alt="">
                        <img class="why-line" src="{% static 'user_app/assets/img/why/why-shape-line.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why area end -->

    <!-- services area start -->
    <section class="services__area  pb-40 ">
        <div class="container">


            <div class="row  ">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 zoomIn">
                    <div class="services__item blue-bg-4 mb-30">
                        <div class="services__icon">
                            <svg viewBox="0 0 24 24">
                                <path
                                    d="m16 10c-1.431 0-2.861-.424-4.283-1.271-.442-.264-.717-.756-.717-1.286v-2.943c0-.276.224-.5.5-.5s.5.224.5.5v2.943c0 .176.09.343.229.426 2.538 1.514 5.004 1.514 7.541 0 .14-.083.23-.25.23-.426v-2.943c0-.276.224-.5.5-.5s.5.224.5.5v2.943c0 .529-.275 1.021-.718 1.285-1.421.848-2.851 1.272-4.282 1.272z" />
                                <path
                                    d="m16 7c-.071 0-.143-.016-.209-.046l-6.5-3c-.178-.082-.291-.259-.291-.454s.113-.372.291-.454l6.5-3c.133-.061.286-.061.419 0l6.5 3c.177.082.29.259.29.454s-.113.372-.291.454l-6.5 3c-.066.03-.138.046-.209.046zm-5.307-3.5 5.307 2.449 5.307-2.449-5.307-2.449z" />
                                <path
                                    d="m1.5 18c-.276 0-.5-.224-.5-.5v-15c0-1.379 1.122-2.5 2.5-2.5h6c.276 0 .5.224.5.5s-.224.5-.5.5h-6c-.827 0-1.5.673-1.5 1.5v15c0 .276-.224.5-.5.5z" />
                                <path
                                    d="m7.5 20h-4c-1.378 0-2.5-1.121-2.5-2.5s1.122-2.5 2.5-2.5h14.5v-2.5c0-.276.224-.5.5-.5s.5.224.5.5v3c0 .276-.224.5-.5.5h-15c-.827 0-1.5.673-1.5 1.5s.673 1.5 1.5 1.5h4c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                                <path
                                    d="m18.5 20h-6c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5.5v-3.5c0-.276.224-.5.5-.5s.5.224.5.5v4c0 .276-.224.5-.5.5z" />
                                <path
                                    d="m12.5 24c-.111 0-.222-.037-.313-.109l-2.187-1.75-2.188 1.75c-.15.12-.355.143-.529.06-.173-.084-.283-.259-.283-.451v-6c0-.276.224-.5.5-.5s.5.224.5.5v4.96l1.688-1.351c.183-.146.442-.146.625 0l1.687 1.351v-4.96c0-.276.224-.5.5-.5s.5.224.5.5v6c0 .192-.11.367-.283.45-.069.033-.143.05-.217.05z" />
                                <path
                                    d="m14.5 18h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                            </svg>
                        </div>
                        <div class="services__content">
                            <h3 class="services__title"><a href="{% url 'about' %}" style="font-size: 19px;">Real time
                                    <br> Industry based training</a></h3>
                            <p>Arse over tit morish wind up gormless butty.!</p>

                            <!-- <a href="{% url 'about' %}" class="link-btn-2">
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 zoomIn">
                    <div class="services__item pink-bg mb-30">
                        <div class="services__icon">
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="m23.5 10c-.1 0-.2 0-.3-.1l-2.5-1.7c-.2-.1-.5-.2-.8-.2h-6.4c-.8 0-1.5-.7-1.5-1.5v-5c0-.8.7-1.5 1.5-1.5h9c.8 0 1.5.7 1.5 1.5v8c0 .2-.1.4-.3.4 0 .1-.1.1-.2.1zm-10-9c-.3 0-.5.2-.5.5v5c0 .3.2.5.5.5h6.4c.5 0 1 .1 1.4.4l1.7 1.2v-7.1c0-.3-.2-.5-.5-.5z" />
                                </g>
                                <g>
                                    <path
                                        d="m.5 12c-.1 0-.2 0-.2-.1-.2 0-.3-.2-.3-.4v-8c0-.8.7-1.5 1.5-1.5h8c.3 0 .5.2.5.5s-.2.5-.5.5h-8c-.3 0-.5.2-.5.5v7.1l1.7-1.1c.4-.3.9-.5 1.4-.5h8.4c.3 0 .5.2.5.5s-.2.5-.5.5h-8.4c-.3 0-.6.1-.8.3l-2.5 1.7c-.1 0-.2 0-.3 0z" />
                                </g>
                                <g>
                                    <path
                                        d="m5.5 18c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm0-5c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                                </g>
                                <g>
                                    <path
                                        d="m10.5 24c-.3 0-.5-.2-.5-.5v-2c0-.8-.7-1.5-1.5-1.5h-6c-.8 0-1.5.7-1.5 1.5v2c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-2c0-1.4 1.1-2.5 2.5-2.5h6c1.4 0 2.5 1.1 2.5 2.5v2c0 .3-.2.5-.5.5z" />
                                </g>
                                <g>
                                    <path
                                        d="m18.5 18c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm0-5c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                                </g>
                                <g>
                                    <path
                                        d="m23.5 24c-.3 0-.5-.2-.5-.5v-2c0-.8-.7-1.5-1.5-1.5h-6c-.8 0-1.5.7-1.5 1.5v2c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-2c0-1.4 1.1-2.5 2.5-2.5h6c1.4 0 2.5 1.1 2.5 2.5v2c0 .3-.2.5-.5.5z" />
                                </g>
                            </svg>
                        </div>
                        <div class="services__content">
                            <h3 class="services__title"><a href="{% url 'about' %}">1 to 1<br> Support</a></h3>
                            <p>Arse over tit morish wind up gormless butty.!</p>

                            <!-- <a href="{% url 'about' %}" class="link-btn-2">
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 zoomIn">
                    <div class="services__item purple-bg mb-30">
                        <div class="services__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-building" viewBox="0 0 16 16">
                                <path
                                    d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                <path
                                    d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z" />
                            </svg>
                        </div>
                        <div class="services__content">
                            <h3 class="services__title" style="font-size: 21px;"><a href="{% url 'about' %}">Job <br>
                                    Placement assistance</a></h3>
                            <p>Arse over tit morish wind up gormless butty.!</p>

                            <!-- <a href="{% url 'about' %}" class="link-btn-2">
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- services area end -->




</main>

{% include 'user_app/components/footer.html' %}

{% endblock content %}