{% extends "user_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'user_app/components/header.html' %}

<main>

    <!-- page title area start -->
    <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
        data-background="{% static 'user_app/assets/img/page-title/page-title.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page__title-wrapper mt-110">
                        <h3 class="page__title">Placements</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Placements</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->

    <!-- course area start -->
    <section class="course__area pt-30 pb-120">
        <div class="container">
            <div class="row">
                {% for placement in placements %}
                <div class="col-12 col-md-3 d-flex justify-content-center pt-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ placement.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ placement.company_name}}</h5>
                            <p class="card-text">{{ placement.designation }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>
    <!-- cta area end -->


</main>

{% include 'user_app/components/footer.html' %}

{% endblock content %}